In [9]:
class Employee:
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
    def details(self):
        print("Name is ",self.name,"\nAge is ",self.age,"\nSalary is ",self.salary)
        
a=Employee("Ram",34,1000000)

a.details()

Name is  Ram
Age is  34
Salary is  1000000

In [10]:
class Student:
    def __init__(self):
        self.name="Ram"
        self.age=34
        self.grade="A"
a=Student()
print(a.name,a.age,a.grade)

Ram 34 A

In [11]:
class Employee:
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
    def details(self):
        print("Length is ",self.length,"\nBreadth is ",self.breadth)   
        
a=Employee(3,4)

a.details()

Length is  3
Breadth is  4

In [4]:
class birthdayboy:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def birthday(self):
        print("\n----------------------\nName is ",self.name,"\n\nAge was ",self.age)   
        self.age=self.age+1
        print("It became ",self.age) 
        
        
a=birthdayboy("Ram",4)
a.birthday()

b=birthdayboy("Shyam",7)
b.birthday()

----------------------
Name is  Ram

Age was  4
It became  5

----------------------
Name is  Shyam

Age was  7
It became  8

In [12]:
class Songs:
    def __init__(self,lyrics):
        self.lyrics=lyrics
    def sing_me_a_song(self):
        for i in self.lyrics:
            print(i)
song=['Whenever, wherever','We are meant to be together','I will be there and you will be near','Thats the deal my dear.']  
a=Songs(song)
a.sing_me_a_song()

Whenever, wherever
We are meant to be together
I will be there and you will be near
Thats the deal my dear.

In [13]:
class room:
    def __init__(self,l,b):
        self.l=l
        self.b=b
    def area(self):
        print("Area is : ",self.l*self.b)
r=room(22,23)
r.area()

Area is :  506

In [14]:
class Dog:
    def __init__(self,name,size,breed,dob):
        self.name=name
        self.size=size
        self.breed='unknown'
        self.dob='unknown'
    def bark(self):
        print("woof!")
        
    def get_name(self):
        print("Name is ",self.name)
    
    def set_name(self):
        n=input("Enter name: ")
        self.name=n
        
a=Dog('Snoopy',44,'Golden Retriever','13/05/2000')
print(a.bark())
a.set_name()
a.get_name()

woof!
None
Enter name: Jackuu
Name is  Jackuu

In [5]:
class Book:
    def __init__(self,title,author,genre,publication_year):
        self.title=title
        self.author=author
        self.genre=genre
        self.publication_year=publication_year
    def display_info(self):
        print("Title is ",self.title)
        print("Author is ", self.author)
        print("Genre is ",self.genre)
        print("Publication year is ",self.publication_year)  
b=Book('The Fault In Our Stars','John Green','Fiction','2006')
b.display_info()
print("\n")
c=Book('The Darkest Minds','Alexandra Bracken','Fiction','2007')
c.display_info()

Title is  The Fault In Our Stars
Author is  John Green
Genre is  Fiction
Publication year is  2006


Title is  The Darkest Minds
Author is  Alexandra Bracken
Genre is  Fiction
Publication year is  2007

In [7]:
class MovieTicket:
    def __init__(self,movie_name,show_time,ticket_price,no_of_tickets_available):
        self.movie_name=movie_name
        self.show_time=show_time
        self.ticket_price=ticket_price
        self.no_of_tickets_available=no_of_tickets_available
    def Book_tickets(self,n):
        if(n>self.no_of_tickets_available):
            print('That many tickets are not available')
        else:
            self.no_of_tickets_available=self.no_of_tickets_available-n
            print('Successfully booked')
    def calculate_total_cost(self,n):
        total=self.ticket_price*n
        print('Total cost is ',total)
    def Display_movie_info(self):
        print("Movie name is ",self.movie_name)
        print("Showtime is ", self.show_time)
        print("Ticket price is ",self.ticket_price)
        print("Number of tickets available is ",self.no_of_tickets_available)
m=MovieTicket('3 Idiots','5:00 pm',200,80)
m.Display_movie_info()
m.Book_tickets(4)
m.calculate_total_cost(4)
print("\n")
n=MovieTicket('Babys day out','8:00 pm',150,6)
n.Display_movie_info()
n.Book_tickets(7)

Movie name is  3 Idiots
Showtime is  5:00 pm
Ticket price is  200
Number of tickets available is  80
Successfully booked
Total cost is  800


Movie name is  Babys day out
Showtime is  8:00 pm
Ticket price is  150
Number of tickets available is  6
That many tickets are not available

In [20]:
class MovieTicket:
    def __init__(self,movie_name,show_time,ticket_price,no_of_tickets_available):
        self.movie_name=movie_name
        self.show_time=show_time
        self.ticket_price=ticket_price
        self.no_of_tickets_available=no_of_tickets_available
    def Book_tickets(self,n):
        if(n>self.no_of_tickets_available):
            print('That many tickets are not available')
        else:
            total=self.ticket_price*n
            print('Total cost is ',total)
            self.no_of_tickets_available=self.no_of_tickets_available-n
            print('Successfully booked')
    def Display_movie_info(self):
        print("Movie name is ",self.movie_name)
        print("Showtime is ", self.show_time)
        print("Ticket price is ",self.ticket_price)
        print("Number of tickets available is ",self.no_of_tickets_available)
m=MovieTicket('3 Idiots','5:00 pm',200,80)
m.Display_movie_info()
m.Book_tickets(4)
#m.calculate_total_cost(4)
print("\n")
n=MovieTicket('Babys day out','8:00 pm',150,6)
n.Display_movie_info()
n.Book_tickets(7)
#n.calculate_total_cost(7)

Movie name is  3 Idiots
Showtime is  5:00 pm
Ticket price is  200
Number of tickets available is  80
Total cost is  800
Successfully booked


Movie name is  Babys day out
Showtime is  8:00 pm
Ticket price is  150
Number of tickets available is  6
That many tickets are not available

In [26]:
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.__salary=salary
    def work(self):
        print('Software Developer')
    def show(self):
        print("Name is ",self.name)
        print("Salary is ",self.__salary)
e=Employee('Ram',3400000) 
e.show()

Name is  Ram
Salary is  3400000

In [21]:
class CreditCard:
    def __init__(self,limit,balance):
        self.__limit=limit
        self._balance=balance
    def withdraw(self,amt): 
        if self._balance>amt:
             self._balance= self._balance-amt
        else:
            print('Insufficient balance')
    def  deposit(self,amt):
        self._balance= self._balance+amt
    def get_balance(self):
        print("Balance is ",self._balance)
c=CreditCard(1000,250000)  
c.withdraw(200) 
c.get_balance()
c.deposit(1000)
c.get_balance()

Balance is  249800
Balance is  250800

In [33]:
class Product:
    def __init__(self,product_id,product_name,product_price):
        self.product_id=product_id
        self.product_name=product_name
        self.product_price=product_price
    def apply_discount(self,p):
        self.product_price=self.product_price-((p/100)*self.product_price)
        print('Price after discount is ',self.product_price)
    def is_expensive(self):
        if(self.product_price>100000):
            print('It is expensive')
        else:
            print('It is not expensive')
    def display_prod_info(self):
        print('Product ID is ',self.product_id)
        print('Product name is ',self.product_name)
        print('Product price is ',self.product_price)
p=Product('1P21234','Race bike',600)
p.display_prod_info()
p.apply_discount(10)
p.is_expensive()

print('\n')
q=Product('1P21235','Race car',2000000000)
q.display_prod_info()
q.is_expensive()

Product ID is  1P21234
Product name is  Race bike
Product price is  600
Price after discount is  540.0
It is not expensive


Product ID is  1P21235
Product name is  Race car
Product price is  2000000000
It is expensive